.container {
    margin: 0 auto;
    width: 1280px;
    display: block;
    font-family: 'Montserrat',
        sans-serif;
    text-align: center;
}

.navigation {
    color: #FF0000;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    font-family: 'Montserrat',
        sans-serif;
    text-align: center;
    font-size: 18px;

}

.bold {
    font-weight: bold;
}

ul {
    list-style-type: none;

}

li {
    list-style: none;
    display: inline-block;
    margin: 0 60px;

}

.capslock {
    text-transform: uppercase;
}



a {
    text-decoration: none;
}

a:link {
    color: #FF0000;
}

a:visited {
    color: #FF0000;
}

h2 {
    color: #373737;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.details {
    color: #373737;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

footer {
    margin: 0 auto;
    width: 1280px;
    display: block;
    font-family: 'Montserrat',
        sans-serif;
    text-align: right;
    margin-top: 100px;
    margin-bottom: 45px;
}

.doit {
    color: #fff;
    background-color: #FF0000;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    border: #ff0000;
    margin-top: 40px;
}